/* General styles for the range input */
.custom-range {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none;
    appearance: none;
    width: 200px; /* Set the width of the range input */
    height: 9px;
    border-radius: 5px;
    background: transparent;
    outline: none; /* Remove focus outline */    
  }
  
  /* Styling the track in WebKit browsers */
  .custom-range::-webkit-slider-runnable-track {
    height: 8px; /* Set the height of the track */
    outline: solid var(--bulma-success);
    border-radius: 5px; /* Rounded corners for the track */
  }
  
  /* Styling the track in Firefox */
  .custom-range::-moz-range-track {
    height: 9px; /* Set the height of the track */
    border: 2px solid var(--bulma-success);
    border-radius: 8px; /* Rounded corners for the track */
  }
  
  /* Styling the thumb in WebKit browsers */
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    position: relative;
    top: -3px;
    width: 14px; /* Width of the thumb */
    height: 14px; /* Height of the thumb */
    background: var(--bulma-success);
    outline: solid var(--bulma-primary-dark-invert);
    border-radius: 50%; /* Circular shape */
    cursor: pointer; /* Pointer cursor on hover */    
  }
  
  /* Styling the thumb in Firefox */
  .custom-range::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 14px; /* Width of the thumb */
    height: 14px; /* Height of the thumb */
    background: var(--bulma-success);
    border: 2px solid var(--bulma-primary-dark-invert);
    border-radius: 50%; /* Circular shape */
    cursor: pointer; /* Pointer cursor on hover */
  }